<% if (page.posts.length > 0) { %>
  <div class="recent-posts">
    <div>
      <div class="index-title"><em>江边望海's Blog</em></div>
      <div class="index-avatar"></div>
      <div class="index-sumary">
        <p>我叫李齐明 (网名：江边望海), 拥有十多年的WEB后端开发经验。</p>
        <p>专注于以PHP技术的WEB应用开发，熟悉和掌握Linux，Mysql，MongoDB，Docker等相关技术。</p>
        <p>并且可以基于微信做小程序开发和基于微信用户体系的二次开发。</p>
        <p>做这个博客的原因是我喜欢写作和记录，我希望把我日常遇到的问题和积累的经验分享给所有人。你也可以上Github上fllow我。</p>
        <p>你可以免费阅读本博客的所有内容，如果觉得我的内容对你有用可以通过文章下方的二维码给我赞赏。</p>
      </div>
    </div>
    <% page.posts.sort('date', -1).limit(10).each(function(post) { %>

      <article class="recent-post-item">
        <a class="title" href="<%=config.root + post.path%>"><h2><%=post.title%></h2></a>
        <div class="post-meta">
          <% if (theme.show_date && post.date) { %>
          <time class="time" datetime="<%=post.date.toJSON()%>">
            <%=date(post.date)%>
          </time>
          <% } %>
          <span class="slash">/</span>
          <% if (post.tags) { %>
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'index-tag'
          }) %>
          <% } %>

        </div>

        <% if (theme.show_excerpt && post.excerpt) { %>
          <div class="post-excerpt">
            <%- post.excerpt %>
          </div>
        <% } %>
        <a class="more" href="<%=config.root + post.path%>"> 阅读全文〉</a>
      </article>
    <% }); %>
  </div>
<% } %>
